__pycache__
.ipynb_checkpoints
.venv
.vscode
Aulas
lista04/ensemble_50.npy
lista04/ensemble_10.npy
lista04/ensemble_20.npy
lista04/ensemble_100.npy
lista04/ensemble_200.npy
Listas
caderno.xopp
lista01.ipynb
lista02.ipynb
lista03.ipynb
testes.ipynb
