__pycache__
.ipynb_checkpoints
.venv
.vscode
Aulas
bertolon
lista04/ensemble_50.npy
lista04/ensemble_10.npy
lista04/ensemble_20.npy
lista04/ensemble_100.npy
lista04/ensemble_200.npy
Listas
projeto/apresentacao/Rgkadanoff.png
projeto/1003.1366.pdf
projeto/2009.09208.pdf
fisher1972.pdf
hamer1981.pdf
projeto/Quantum Ising Phases and Transitions in Tr - Sei Suzuki.pdf
projeto/realspace-renormalization-1982.pdf
caderno.xopp
lista01.ipynb
lista02.ipynb
lista03.ipynb
projeto.ipynb
testes.ipynb
projeto/fisher1998.pdf
projeto/renormalizacao/jullien1978.pdf